[Desktop Entry]
Encoding=UTF-8
Name=Bricoleurs
Comment=Bricoleurs P2P Cryptocurrency
Comment[fr]=Bricoleurs, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bricoleurs, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/bricoleur-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bricoleurs80.xpm
MimeType=x-scheme-handler/bricoleurs;
Categories=Office;
